body{
  background-color: black;
}
h1{
  color: white; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}
h2{
  color: white; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}
p{
    color: white;
}
span{
  
}
